.gdpr-cookieconsent-overlay {
  
    display: none !important;
  
    position: absolute !important;
  
    bottom: 0px !important;
  
    right: 0px !important;
  
    z-index: 50 !important;
  
    width: 100% !important;
  
    --tw-text-opacity: 1 !important;
  
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important
}
  
  .gdpr-cookieconsent-settings {
  
    left: 100% !important;
  
    z-index: 50 !important;
  
    width: 100% !important;
  
    --tw-translate-x: -100% !important;
  
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  
    border-top-left-radius: 1rem !important;
  
    --tw-bg-opacity: 1 !important;
  
    background-color: hsl(var(--a) / var(--tw-bg-opacity)) !important;
  
    --tw-text-opacity: 1 !important;
  
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
  
    --tw-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.1) !important;
  
    --tw-shadow-colored: 0 0 35px 10px var(--tw-shadow-color) !important;
  
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}
  
  .gdpr-cookieconsent-settings h2 {
  
    margin-bottom: 1.25rem !important;
  
    padding-bottom: 0px !important;
  
    --tw-text-opacity: 1 !important;
  
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important
}
  
  .gdpr-cookieconsent-settings .button {
  
    border-radius: 9999px !important;
  
    --tw-bg-opacity: 1 !important;
  
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
  
    padding-left: 1.5rem !important;
  
    padding-right: 1.5rem !important;
  
    padding-top: 0.5rem !important;
  
    padding-bottom: 0.5rem !important;
  
    font-family: Mulish, Helvetica, Arial, sans-serif !important;
  
    font-weight: 800 !important;
  
    --tw-text-opacity: 1 !important;
  
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
  
    transition-duration: 150ms !important
}
  
  .gdpr-cookieconsent-settings .button:hover {
  
    --tw-scale-x: 1.05 !important;
  
    --tw-scale-y: 1.05 !important;
  
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content {
  
    display: block !important;
  
    max-width: 100% !important;
  
    padding: 1rem !important
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content h2 {
  
    margin-bottom: 0.5rem;
  
    font-size: 20px;
  
    line-height: 26px;
  
    letter-spacing: 0;
  
    letter-spacing: 0em !important
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__info {
  
    width: 100%
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__info__main-description {
  
    margin-bottom: 0.5rem;
  
    font-size: 14px;
  
    line-height: 24px;
  
    letter-spacing: 0;
  
    line-height: 1.5;
  
    letter-spacing: 0em !important
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__cta {
  
    margin-top: 1rem;
  
    margin-bottom: 0.5rem;
  
    display: block;
  
    width: 100%
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__cta button {
  
    margin-bottom: 0px;
  
    width: auto;
  
    padding-left: 1.5rem;
  
    padding-right: 1.5rem;
  
    font-size: 14px;
  
    line-height: 24px;
  
    letter-spacing: 0
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__cta button:hover {
  
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__cta a {
  
    margin-top: 1.25rem;
  
    display: block;
  
    text-align: left;
  
    font-size: 16px !important;
  
    line-height: 24px !important;
  
    letter-spacing: 0 !important;
  
    letter-spacing: 0em !important
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__links {
  
    display: none;
  
    width: 100%
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__individual-switch {
      }
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content__individual-switch {
  
    margin: 0px !important;
  
    display: block !important;
  
    padding-bottom: 0px !important
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content__individual-switch a {
  
    font-size: 16px !important;
  
    line-height: 24px !important;
  
    letter-spacing: 0 !important
}
  
  .gdpr-cookieconsent-settings a {
  
    font-size: 18px !important;
  
    line-height: 23px !important;
  
    letter-spacing: 0 !important;
  
    font-weight: 400 !important;
  
    color: currentColor !important;
  
    -webkit-text-decoration-line: underline !important;
  
            text-decoration-line: underline !important
}
  
  .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content__links a {
  
    font-size: 16px !important;
  
    line-height: 24px !important;
  
    letter-spacing: 0 !important
}
  
  #kd_gdpr_cc-close svg {
  
    fill: #fff;
  
    opacity: 0.7
}
  
  @media (min-width: 768px) {
  
    .gdpr-cookieconsent-overlay {
  
        width: 18rem !important
    }
  
    .gdpr-cookieconsent-settings {
  
        width: 18rem !important
    }
  
    .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content {
  
        padding: 2rem !important
    }
  
    .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content h2 {
  
        margin-bottom: 1rem;
  
        font-size: 24px;
  
        line-height: 32px;
  
        letter-spacing: 0
    }
  
    .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__info__main-description {
  
        margin-bottom: 1rem;
  
        font-size: 16px;
  
        line-height: 24px;
  
        letter-spacing: 0
    }
  
    .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__cta {
  
        margin-bottom: 1rem
    }
  
    .gdpr-cookieconsent-settings .gdpr-cookieconsent-settings__content .gdpr-cookieconsent-settings__content__cta button {
  
        padding-top: 0.5rem;
  
        padding-bottom: 0.5rem;
  
        font-size: 16px;
  
        line-height: 24px;
  
        letter-spacing: 0
    }
}
/*# sourceMappingURL=Privacy.css.map */