:root {
	--lines: #33d9b2;
	--background: #218c74;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.flex {
	align-items: center;
	display: flex;
	justify-content: center;
}

.scene {
	background: var(--background);
	overflow: visible;

	&__animation {
		width: 700px;
		height: 400px;
		overflow: visible;
		background: #f90;
	}
}