#addressLookup {
    
    input,
    .button {
        @apply !py-2;
        @apply font-semibold;
    }

    input {
        @apply rounded-full bg-none border placeholder-black placeholder-opacity-100;
    }
    
    .button {
        @apply font-sans rounded-full bg-white px-6 py-2 hover:scale-105 duration-150;
    }

}
